# ===== DB =====
MYSQL_ROOT_PASSWORD=NEED_TO_INPUT
MYSQL_DATABASE=beacon
MYSQL_USER=beacon
MYSQL_PASSWORD=NEED_TO_INPUT

# ===== JWT =====
JWT_SECRET=NEED_TO_INPUT
JWT_ACCESS_EXP_MIN=60
JWT_REFRESH_EXP_DAY=30

# ===== Docker Hub (서버 배포용 docker-compose.prod.yml에서 사용) =====
DOCKERHUB_USERNAME=NEED_TO_INPUT
