# ===== DB =====
MYSQL_ROOT_PASSWORD=NEED_TO_INPUT
MYSQL_DATABASE=beacon
MYSQL_USER=beacon
MYSQL_PASSWORD=NEED_TO_INPUT

# ===== JWT =====
JWT_SECRET=NEED_TO_INPUT
JWT_ACCESS_EXP_MIN=60
JWT_REFRESH_EXP_DAY=30
